@font-face{
    font-family:"FA";
    font-weight:400;
    font-style:normal;
    font-display:block;
    src: url(../webfonts/fa-regular-400.woff2) format("woff2");
}
@font-face{
    font-family:"FA";
    font-weight:900;
    font-style:normal;
    font-display:block;
    src: url(../webfonts/fa-solid-900.woff2) format("woff2");
}
@font-face{
    font-family:"FA Brands";
    font-weight:400;
    font-style:normal;
    font-display:block;
    src: url(../webfonts/fa-brands-400.woff2) format("woff2");
}

i.fa-solid, i.fa-regular, i.fa-brand, i.fas, i.far, i.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1em;
}
.fa-solid, .fas {
    font-family: 'FA';
    font-weight: 900;
}
.fa-regular, .far {
    font-family: 'FA';
    font-weight: 400;
}
.fa-brand, .fab {
    font-family: 'FA Brands';
    font-weight: 400;
}

/* Set Content */
/* regular + solid */
.fa-chevron-up:before{content:"\f077"}
.fa-book-journal-whills:before,.fa-journal-whills:before{content:"\f66a"}
.fa-gauge-circle-plus:before{content:"\e498"}
.fa-heart-circle-plus:before{content:"\e500"}
.fa-sword:before{content:"\f71c"}
.fa-heart:before{content:"\f004"}
.fa-shield-cross:before{content:"\f712"}
.fa-swords:before{content:"\f71d"}
.fa-100:before,.fa-hundred-points:before{content:"\e41c"}

.fa-wand-sparkles:before{content:"\f72b"}

/* used in hpwu */
.fa-dragon:before{content:"\f6d5"} /* collection */
.fa-hat-wizard:before{content:"\f6e8"}
.fa-pepper-hot:before{content:"\f816"}
.fa-cauldron:before{content:"\f6bf"}
.fa-socks:before{content:"\f696"}

/* used in collections */
.fa-book-open:before{content:"\f518"}
.fa-book:before{content:"\f02d"}
.fa-gamepad:before{content:"\f11b"}
.fa-close:before,.fa-multiply:before,.fa-remove:before,.fa-times:before,.fa-xmark:before{content:"\f00d"}

/* brands */
.fa-gitlab:before{content:"\f296"}
.fa-threads:before{content:"\e618"} /* collection */
.fa-shoelace:before{content:"\e60c"} /* collection */
.fa-font-awesome-flag:before,.fa-font-awesome-logo-full:before,.fa-font-awesome:before{content:"\f2b4"}
.fa-font-awesome-alt:before,.fa-square-font-awesome-stroke:before{content:"\f35c"}

/* others regular & solid */

.fa-axe:before{content:"\f6b2"}
.fa-axe-battle:before{content:"\f6b3"}
.fa-block-brick-fire:before,.fa-firewall:before{content:"\e3dc"}
.fa-block-brick:before,.fa-wall-brick:before{content:"\e3db"}
.fa-block-question:before{content:"\e3dd"}
.fa-block-quote:before{content:"\e0b5"}
.fa-block:before{content:"\e46a"}
.fa-book-alt:before,.fa-book-blank:before{content:"\f5d9"}
.fa-book-arrow-right:before{content:"\e0b9"}
.fa-book-arrow-up:before{content:"\e0ba"}
.fa-book-bookmark:before{content:"\e0bb"}
.fa-book-circle-arrow-right:before{content:"\e0bc"}
.fa-book-circle-arrow-up:before{content:"\e0bd"}
.fa-book-circle:before,.fa-circle-book-open:before{content:"\e0ff"}
.fa-book-copy:before{content:"\e0be"}
.fa-book-dead:before,.fa-book-skull:before{content:"\f6b7"}
.fa-book-font:before{content:"\e0bf"}
.fa-book-heart:before{content:"\f499"}
.fa-book-law:before,.fa-book-section:before{content:"\e0c1"}
.fa-book-medical:before{content:"\f7e6"}
.fa-book-open-alt:before,.fa-book-open-cover:before{content:"\e0c0"}
.fa-book-open-reader:before,.fa-book-reader:before{content:"\f5da"}
.fa-book-quran:before,.fa-quran:before{content:"\f687"}
.fa-book-sparkles:before,.fa-book-spells:before{content:"\f6b8"}
.fa-book-tanakh:before,.fa-tanakh:before{content:"\f827"}
.fa-book-user:before{content:"\f7e7"}
.fa-bookmark-circle:before,.fa-circle-bookmark:before{content:"\e100"}
.fa-bookmark-slash:before{content:"\e0c2"}
.fa-bookmark:before{content:"\f02e"}
.fa-books-medical:before{content:"\f7e8"}
.fa-books:before{content:"\f5db"}
.fa-bow-arrow:before{content:"\f6b9"}
.fa-campfire:before{content:"\f6ba"}
.fa-card-club:before{content:"\e3e9"}
.fa-card-diamond:before{content:"\e3ea"}
.fa-card-heart:before{content:"\e3eb"}
.fa-card-spade:before{content:"\e3ec"}
.fa-cards-blank:before{content:"\e4df"}
.fa-cards:before{content:"\e3ed"}
.fa-chess-bishop-alt:before,.fa-chess-bishop-piece:before{content:"\f43b"}
.fa-chess-bishop:before{content:"\f43a"}
.fa-chess-board:before{content:"\f43c"}
.fa-chess-clock-alt:before,.fa-chess-clock-flip:before{content:"\f43e"}
.fa-chess-clock:before{content:"\f43d"}
.fa-chess-king-alt:before,.fa-chess-king-piece:before{content:"\f440"}
.fa-chess-king:before{content:"\f43f"}
.fa-chess-knight-alt:before,.fa-chess-knight-piece:before{content:"\f442"}
.fa-chess-knight:before{content:"\f441"}
.fa-chess-pawn-alt:before,.fa-chess-pawn-piece:before{content:"\f444"}
.fa-chess-pawn:before{content:"\f443"}
.fa-chess-queen-alt:before,.fa-chess-queen-piece:before{content:"\f446"}
.fa-chess-queen:before{content:"\f445"}
.fa-chess-rook-alt:before,.fa-chess-rook-piece:before{content:"\f448"}
.fa-chess-rook:before{content:"\f447"}
.fa-chess:before{content:"\f439"}
.fa-crystal-ball:before{content:"\e362"}
.fa-dagger:before{content:"\f6cb"}
.fa-dice-d10:before{content:"\f6cd"}
.fa-dice-d12:before{content:"\f6ce"}
.fa-dice-d20:before{content:"\f6cf"}
.fa-dice-d4:before{content:"\f6d0"}
.fa-dice-d6:before{content:"\f6d1"}
.fa-dice-d8:before{content:"\f6d2"}
.fa-dice-five:before{content:"\f523"}
.fa-dice-four:before{content:"\f524"}
.fa-dice-one:before{content:"\f525"}
.fa-dice-six:before{content:"\f526"}
.fa-dice-three:before{content:"\f527"}
.fa-dice-two:before{content:"\f528"}
.fa-dice:before{content:"\f522"}
.fa-dreidel:before{content:"\f792"}
.fa-dungeon:before{content:"\f6d9"}
.fa-eye-evil:before{content:"\f6db"}
.fa-fire-flame:before,.fa-flame:before{content:"\f6df"}
.fa-flask-gear:before{content:"\e5f1"}
.fa-flask-poison:before,.fa-flask-round-poison:before{content:"\f6e0"}
.fa-flask-potion:before,.fa-flask-round-potion:before{content:"\f6e1"}
.fa-flask-vial:before{content:"\e4f3"}
.fa-flask:before{content:"\f0c3"}
.fa-game-board-alt:before,.fa-game-board-simple:before{content:"\f868"}
.fa-game-board:before{content:"\f867"}
.fa-game-console-handheld-crank:before{content:"\e5b9"}
.fa-game-console-handheld:before{content:"\f8bb"}
.fa-gamepad-alt:before,.fa-gamepad-modern:before{content:"\e5a2"}
.fa-ghost:before{content:"\f6e2"}
.fa-hammer-crash:before{content:"\e414"}
.fa-hammer-war:before{content:"\f6e4"}
.fa-hammer:before{content:"\f6e3"}
.fa-hat-beach:before{content:"\e606"}
.fa-hat-chef:before{content:"\f86b"}
.fa-hat-cowboy-side:before{content:"\f8c1"}
.fa-hat-cowboy:before{content:"\f8c0"}
.fa-hat-santa:before{content:"\f7a7"}
.fa-hat-winter:before{content:"\f7a8"}
.fa-hat-witch:before{content:"\f6e7"}
.fa-helmet-battle:before{content:"\f6eb"}
.fa-helmet-un:before{content:"\e503"}
.fa-heart-broken:before,.fa-heart-crack:before{content:"\f7a9"}
.fa-heart-circle-bolt:before{content:"\e4fc"}
.fa-heart-circle-check:before{content:"\e4fd"}
.fa-heart-circle-exclamation:before{content:"\e4fe"}
.fa-heart-circle-minus:before{content:"\e4ff"}
.fa-heart-circle-xmark:before{content:"\e501"}
.fa-heart-half-alt:before,.fa-heart-half-stroke:before{content:"\e1ac"}
.fa-heart-half:before{content:"\e1ab"}
.fa-heart-music-camera-bolt:before,.fa-icons:before{content:"\f86d"}
.fa-heart-pulse:before,.fa-heartbeat:before{content:"\f21e"}
.fa-heart-rate:before,.fa-wave-pulse:before{content:"\f5f8"}
.fa-heart-square:before,.fa-square-heart:before{content:"\f4c8"}
.fa-hood-cloak:before{content:"\f6ef"}
.fa-magic:before,.fa-wand-magic:before{content:"\f0d0"}
.fa-mace:before{content:"\f6f8"}
.fa-mandolin:before{content:"\f6f9"}
.fa-mushroom:before{content:"\e425"}
.fa-paw-alt:before,.fa-paw-simple:before{content:"\f701"}
.fa-paw-claws:before{content:"\f702"}
.fa-paw:before{content:"\f1b0"}
.fa-pepper:before{content:"\e432"}
.fa-person-dress-fairy:before{content:"\e607"}
.fa-person-fairy:before{content:"\e608"}
.fa-pickaxe:before{content:"\e5bf"}
.fa-puzzle-piece-alt:before,.fa-puzzle-piece-simple:before{content:"\e231"}
.fa-puzzle-piece:before{content:"\f12e"}
.fa-puzzle:before{content:"\e443"}
.fa-ring-diamond:before{content:"\e5ab"}
.fa-ring:before{content:"\f70b"}
.fa-rings-wedding:before{content:"\f81b"}
.fa-scroll-old:before{content:"\f70f"}
.fa-scroll-torah:before,.fa-torah:before{content:"\f6a0"}
.fa-scroll:before{content:"\f70e"}
.fa-scythe:before{content:"\f710"}
.fa-shield-alt:before,.fa-shield-halved:before{content:"\f3ed"}
.fa-shield-blank:before,.fa-shield:before{content:"\f132"}
.fa-shield-cat:before{content:"\e572"}
.fa-shield-check:before{content:"\f2f7"}
.fa-shield-dog:before{content:"\e573"}
.fa-shield-exclamation:before{content:"\e247"}
.fa-shield-heart:before{content:"\e574"}
.fa-shield-keyhole:before{content:"\e248"}
.fa-shield-minus:before{content:"\e249"}
.fa-shield-plus:before{content:"\e24a"}
.fa-shield-quartered:before{content:"\e575"}
.fa-shield-slash:before{content:"\e24b"}
.fa-shield-times:before,.fa-shield-xmark:before{content:"\e24c"}
.fa-shield-virus:before{content:"\e06c"}
.fa-sickle:before{content:"\f822"}
.fa-skeleton-ribs:before{content:"\e5cb"}
.fa-skeleton:before{content:"\f620"}
.fa-skull-cow:before{content:"\f8de"}
.fa-skull-crossbones:before{content:"\f714"}
.fa-skull:before{content:"\f54c"}
.fa-sparkle:before{content:"\e5d6"}
.fa-sparkles:before{content:"\f890"}
.fa-staff:before{content:"\f71b"}
.fa-sword-laser-alt:before{content:"\e03c"}
.fa-sword-laser:before{content:"\e03b"}
.fa-swords-laser:before{content:"\e03d"}
.fa-treasure-chest:before{content:"\f723"}
.fa-wand:before{content:"\f72a"}
.fa-wreath-laurel:before{content:"\e5d2"}


