tr {
    text-align:center;
}
table, tr, td, th {
    border: .1em solid darkgrey;
    border-collapse:collapse;
}
td {
    position: relative;
}
table, h1, h2, h3, h4, div {
    width: 80%;
    margin: 1em auto;
}
table.sameforms, table.sameforms tr, table.sameforms td, table.sameforms th {
    border: 0 solid white;
}
table.sameforms {
    margin: 0 auto;
}
td, td[colspan="1"] {width:  14%;}
td[colspan="2"]     {width:  28%;}
td[colspan="3"]     {width:  42%;}
td[colspan="4"]     {width:  57%;}
td[colspan="5"]     {width:  71%;}
td[colspan="6"]     {width:  85%;}
td[colspan="7"]     {width: 100%;}
td.plante {
    border: .3em solid MediumSeaGreen;
}
td.feu {
    border: .3em solid darkorange;
}
td.eau {
    border: .3em solid CornflowerBlue;
}
td.insecte {
    border: .3em solid #cccc00;
}
td.vol {
    border: .3em solid skyblue;
}
td.normal {
    border: .3em solid grey;
}
td.poison {
    border: .3em solid darkmagenta;
}
td.électrique, td.électrik {
    border: .3em solid gold;
}
td.sol {
    border: .3em solid sienna;
}
td.fée {
    border: .3em solid hotpink;
}
td.combat {
    border: .3em solid red;
}
td.psy {
    border: .3em solid palevioletred;
}
td.acier {
    border: .3em solid steelblue;
}
td.spectre {
    border: .3em solid darkslateblue;
}
td.glace {
    border: .3em solid powderblue;
}
td.ténèbres {
    border: .3em solid dimgrey;
}
td.roche {
    border: .3em solid tan;
}
td.dragon {
    border: .3em solid darkblue;
}
.comment {
    font-size: 0.8em;
    font-style: italic;
}

img {
    max-height:5em;
    max-width: 5em;
}

.unavailable {
    background-color: grey
}
.unavailable .evol, .unavailable .form, .unavailable .mega, .unavailable .empty {
    background-color: #DDDDDD;
}
td.unavailable {
    max-height: 4em;
}
tr.unavailable {
    font-size: 0.7em;
}
.unavailable img {
    max-height:2em;
    max-width: 2em;
}
small {
    font-size: 0.7em;
}

mark, em, b, paradoxe {
    display: inline-block;
    padding: 0 0.5em;
    color: black;
    border: 0.1em solid black;
    border-radius: 1em;
    font-style: normal;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
}
mark {
    top: 0.1em;
    right: 0.1em;
    
    background-color: lightgrey;
    min-width: 3em;
    width: 3em;
    max-width: 5em;
}
em {
    top: 0.1em;
    left: 0.1em;
    
    width: 4em;
    white-space: nowrap;
}
b {
    top: 0.1em;
    left: calc(50% - 1.5em);
    
    border: .1em solid royalblue;
    color: royalblue;
    width: 3em;
}
paradoxe {
    top: 0.1em;
    left: calc(50% - 4em);
    
    border: .1em solid royalblue;
    color: royalblue;
    width: 8em;
}
pre:before   { font-family: 'FA'; font-weight: 400; content:"\e41c"; color: red; font-size:1.1em; }
pre { display:block; width: 2em; text-align: center; border: .1em solid red; border-radius: 1em; position: absolute; left: 0; top: 5em;  }

td.evol  {background-color: #EEEEFF;} /* bleu */
td.mega  {background-color: #FFDDDD;} /* rouge */
td.form  {background-color: #DDFFDD;} /* vert */
td.empty {background-color: #EEEEEE;} /* gris */

img {
    vertical-align: middle;
}

@media print {
    @page {
        margin: 1cm;
    }
    body {
        font-family: Calibri, Verdana, sans-serif;
        font-size: 12px;
    }
    table, h1, h2, h3, div {
        width: 100%;
        margin: .5em 0;
    }
    td {
        page-break-inside: avoid;
    }
    a, h1, h1 + div {
        display:none;
    }
    h1, h2 {
        page-break-after: avoid;
    }
}

img.type {
    max-height: 1.1em;
}
td.title {
    text-transform: uppercase;
    font-weight: bold;
}

/* Gains copains + coût 2nde Att chargée */
sup, sub {
    display: inline-block;
    min-width: 3em;
    max-width: 12em;
    color: black;
    border: .1em solid black;
    border-radius: 1em;
    font-style: normal;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 0.5em;
    margin: 0 1em;
    vertical-align: text-top;
}
sub:before { /* 2nd attaque */
    font-family: 'FA';
    font-weight: 400;
    content:"\f71d";
    padding-right: 0.5em;
}
sup:before { /* pkm copain */
    font-family: 'FA';
    font-weight: 400;
    content:"\f6d4";
    padding-right: 0.5em;
}
sup img, sub img, .evol img, .mega img, .form img {
    max-width: 1em;
    max-height: 1em;
}

/* Stats (pour certains Pkm) (ajout de nvlles balises) */
stats {
    display: block;
    text-align: center;
}
pcmax, pvmax, att, end, def {
    display: inline-block;
    min-width: 3em;
    max-width: 12em;
    color: grey;
    background-color: white;
    border: .1em solid grey;
    border-radius: 1em;
    font-style: normal;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 0.5em;
    margin: 0 0.2em;
    vertical-align: text-top;
}
pcmax:before, pvmax:before, att:before, end:before, def:before {
    font-family: 'FA';
    font-weight: 400;
    padding-right: 0.5em;
}
pcmax:before { content:"\e498"; color: sandybrown; }
pvmax:before { content:"\e500"; color: palevioletred; }
att:before   { content:"\f71c"; color: indianred; }
end:before   { content:"\f004"; color: royalblue; }
def:before   { content:"\f712"; color: mediumseagreen; }

.bar {
    font-size:0.8em;
    height: 0.8em;
    width:15em;
    border: 0.2em solid darkgrey;
    margin: 0.1em auto;
}
.value {
    height: 0.8em;
    line-height:0.8em;
    color: white;
    background-color: indianred;
    margin: 0;
}
