body {
    font-family: Calibri, Verdana, sans-serif;
    font-size: 14px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

header, footer {
    display: block;
    width: 100%;
    background-color: #313236;
    border-radius: 2px;
    max-width: 100%;
    text-align: center;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index:99;
    box-sizing: border-box;
}
header {
    top: 0;
}
footer {
    bottom: 0;
}

header a, footer a {
    font-size: 1.2em;
    color: #aaa;
    display: inline-block;
    padding: 0.4em;
    text-decoration: none;
    white-space: nowrap;
    width: auto;
}

header a:hover, footer a:hover {
    color: #ffffff;
}
